@PROMPT_TEXT
Задание на лабораторную работу: @LAB_TASK
Отчет студента на задание по лабораторной работе: @STUDENT_ANSWER
Ответ должен быть на русском языке.
Ответ ОБЯЗАТЕЛЬНО должен начинаться на <JSON> и заканчиваться </JSON>, внутри тега - json структура.

Формат ответа:

<JSON>
{
    "grade": //оценка от 1 до 10,
    "review": //отзыв на ответ,
    "advantages": [] //положительные стороны ответа,
    "disadvantages": [] //недостатки и моменты, требующие доработки
}
</JSON>