ИМЕЕТСЯ ТАКОЙ ПРОМПТ НА ПРОВЕРКУ: @PROMPT
ИМЕЕТСЯ РЕЗУЛЬТАТ ПРОШЛОЙ ПРОВЕРКИ ОТЧЕТА:
Отзыв: @PREV_REVIEW
Оценка: @PREV_GRADE
Плюсы: @PREV_ADVANTAGES
Минусы: @PREV_DISADVANTAGES
Предыдущий отчет: @PREV_REPORT
ТЕБЕ НУЖНО ПРОВЕРИТЬ НОВЫЙ ОТЧЕТ С УЧЕТОМ ЗАМЕЧАНИЙ СТАРОГО ОТЧЕТА